.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 2px solid black;
}

.square {
  background-color: azure;
}

.flex-container {
    display: flex;

    justify-content: center;
}

.content {
  border: 2px solid coral;
  background-color: lightsalmon;
  padding: 30px;
  border-radius: 12px;

}

.controls {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}